# Maven #
target/
log/

# Java output #
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ #
*.iml
*.iws
.idea/*
!.idea/codeStyleSettings.xml

# Starter kit files #
web/app/*
!web/app/deploy-starter-kit-here